<!doctype html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>{{ items['title'] }}</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/redmond/jquery-ui-1.8.22.custom.css">

<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.8.22.custom.min.js"></script>
<script src="/js/highcharts.js"></script>
<script src="/js/modules/exporting.js"></script>

<script type='text/javascript'><!--//<![CDATA[
window.None = null;
$(function() {
    $( "#datepicker" ).datepicker({
        dateFormat: "yymmdd",
        numberOfMonths: 1,
        showButtonPanel: true,
        selectOtherMonths: true
    });
});

$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'graph',
                type: 'areaspline',
                marginRight: 130,
                marginBottom: 40
            },
            title: {
                text: '{% if items['target_date'] %}{{ items['target_date'] }}{% end %}',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                title: {
                    text: 'Hour'
                },
                categories: [
                        {% for row in items['rows'] %}
                          "{{ escape(row['datetime']) }}",
                        {% end %}
                            ],
                plotBands: [{ // visualize the weekend
                    from: 4,
                    to: 6.5,
                    color: 'rgba(204, 204, 51, .2)'
                }]
            },
            yAxis: {
                title: {
                    text: 'Tidal height (cm)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'cm';
                }
            },
            credits: {
                enabled: false
            },
            plotOptions: {
                areaspline: {
                    fillOpacity: 0.4
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                floating: true,
                borderWidth: 0,
                backgroundColor: '#FFFFFF'
            },
            series: [{
               name: '{% if items['prev_date'] %}{{ items['prev_date'] }}{% end %}',
                data: [
                    {% for row in items['prev_rows'] %} 
                        {{ escape(str(row['tidalheight'])) }}, 
                    {% end %} 
                    ]
            }, {
                name: '{% if items['target_date'] %}{{ items['target_date'] }}{% end %}',
                data: [ 
                    {% for row in items['rows'] %} 
                        {{ escape(str(row['tidalheight'])) }}, 
                    {% end %} 
                    ]
            }, {
                name: '{% if items['next_date'] %}{{ items['next_date'] }}{% end %}',
                data: [
                    {% for row in items['next_rows'] %} 
                        {{ escape(str(row['tidalheight'])) }}, 
                    {% end %} 
                    ]
            }]
        });
    });
    
});
//]]>--></script>

</head>
<body>
<div id="main">

<div id="header">
<h1>{{ items['header_title'] }}</h1>
</div>
<!-- end of header -->

<div id="content">
<h3>{{ items['areaname'] }}</h3>

<div id="graph"></div>

<div id="mainform">
<form action="" method="get">
<select name="area">
<option value="-">場所を選択して下さい</option>
{% for i in sorted(items['areas']) %}
  <optgroup label="{{ escape(items['states'][i]) }}">
  {% for k, area in items['areas'][i].iteritems() %}
    {% if items['location'] == area['location'] %}
    <option value="{{ escape(str(k)) }}" selected="selected">{{ escape(area['areaname']) }}</option>
    {% else %}
    <option value="{{ escape(str(k)) }}">{{ escape(area['areaname']) }}</option>
    {% end %}
  {% end %}
  </optgroup>
{% end %}
</select>
日付:<input type="text" id="datepicker" name="date" value="{% if items['target_date'] %}{{ items['target_date'] }}{% end %}">
<input type="submit" name="" value="submit">
</form>
</div>
<!-- end of mainform -->

</div>
<!-- end of content -->

<div id="sub">

<h4>現在の状況</h4>
<div id="wind">
天候:<span>{{ escape(items['weather']) }}</span><br>
風速:<span>{{ escape(items['wind_speed']) }}</span>m/s<br>
風向:<span>{{ escape(items['wind_direction']) }}</span>
</div>
<!-- end wind -->

<h4>潮位グラフ</h4>
<p>このグラフは海上保安庁及び気象庁の提供するデータを元にしています。</p>
<p>青線が指定日または本日、緑線が青線の前日のデータになります。本日以前の青線、緑線は実データに基づいたもの。未来日付の青線は予測値となっています。</p>
</div>
<!-- end of sub -->

<div id="footer">
<span>Copyright &copy; Mochizuki Nobuaki, hagaeru3sei All Rights Reserved.</span>
</div>
<!-- end of footer -->

</div>
<!-- end of main -->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33924225-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- analytics tracking code -->

</body>
</html>
